* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.main-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 35fr 16fr 13fr 18fr 18fr;
    grid-template-rows: 40fr 26fr 34fr;
    grid-template-areas:
        "left-upper     center-upper center-upper           right-upper-one right-upper-two"
        "left-upper     center-upper center-upper           right-lower-one right-lower-two"
        "left-lower     center-lower-one center-lower-two   right-lower-one right-lower-three"
        ;
}

.main-grid__elem--left-upper {
    background-color: #F9F9F9;
    grid-area: left-upper;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29%;
    padding-top: 20%;
}

.main-grid__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    width: 72%;
}

.main-grid__info {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.main-grid__elem--left-lower {
    background-color: #828282;
    grid-area: left-lower;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 3%;
}

.main-grid__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #F2F2F2;
    width: 78%;
}


.main-grid__elem--center-upper {
    grid-area: center-upper;
}

.main-grid__elem--center-lower-one {
    grid-area: center-lower-one;
}

.main-grid__elem--center-lower-two {
    grid-area: center-lower-two;
    background-color: #A6806B;
}


.main-grid__elem--right-upper-one {
    grid-area: right-upper-one;
}

.main-grid__elem--right-upper-two {
    grid-area: right-upper-two;
}

.main-grid__elem--right-lower-one {
    grid-area: right-lower-one;
}

.main-grid__elem--right-lower-two {
    grid-area: right-lower-two;
    background-color: #A61C1C;
}

.main-grid__elem--right-lower-three {
    grid-area: right-lower-three;
}

.main-grid__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

@media only screen and (min-width: 320px), (max-width: 320px) {
    .main-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 67vh
                            33vh
                            67vh
                            33vh
                            34vh
                            20vh
                            46vh;
        grid-template-areas:
            "left-upper left-upper"
            "left-lower left-lower"
            "center-upper center-upper"
            "center-lower-one center-lower-two"
            "right-upper-one right-upper-two"
            "right-lower-one right-lower-two"
            "right-lower-one right-lower-three"
            ;
    }

    .main-grid__title {
        font-size: 14vw;
    }
}
@media only screen and (min-width: 768px) {
    .main-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 27fr 23fr 23fr 27fr;
        grid-template-rows: 33vh 34vh 33vh 33vh 34vh 33vh;
        grid-template-areas:
        "left-upper left-upper    center-upper        center-upper"
        "left-upper left-upper    center-upper        center-upper"
        "left-lower left-lower     center-lower-one    center-lower-two"
        "right-upper-one right-lower-one right-lower-one right-upper-two"
        "right-lower-two right-lower-one right-lower-one right-upper-two"
        "right-lower-two right-lower-one right-lower-one right-lower-three"
        ;
    }

    .main-grid__title {
        font-size: 40px;
    }
}
@media only screen and (min-width: 992px) {
    .main-grid__title {
        font-size: 60px;
    }
}
@media only screen and (min-width: 1200px) {

    .main-grid {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 35fr 16fr 13fr 18fr 18fr;
        grid-template-rows: 40fr 26fr 34fr;
        grid-template-areas:
        "left-upper     center-upper center-upper           right-upper-one right-upper-two"
        "left-upper     center-upper center-upper           right-lower-one right-lower-two"
        "left-lower     center-lower-one center-lower-two   right-lower-one right-lower-three"
        ;
    }

}
@media only screen and (min-width: 1536px) {
    .main-grid__title {
        width: 60%;
    }

    .main-grid__title {
        font-size: 64px;
    }
}


.main-grid__hidden {
    visibility: hidden;
}